.container_p{
    margin-top: 60px;
    margin-bottom: 60px;
}


.pokeball {
    box-sizing: border-box;
    --pokeball-size: 70px;
    --pokeball-inner-size: 28px;
    --pokeball-border-size:5.5px;
    
    --before-diameter: var(--pokeball-inner-size);
    --after-diameter: calc(var(--before-diameter) - (var(--pokeball-border-size)*3));
    
    border: var(--pokeball-border-size) solid #262122;
    width: var(--pokeball-size);
    height: var(--pokeball-size);
    border-radius: 100%;
    margin: 0 auto;
    position:absolute;
    
    background: linear-gradient(
        180deg,
        #BA0C2F 0%,
        #BA0C2F 44%,
        #262122 44%,
        #262122 56%,
        #FFf 56%,
        #fff 100%
    );
    
}

.pokeball:before, .pokeball:after{
content: " ";
border-radius: 100%;
display: block;
position: absolute;
}

.pokeball:before{
background: #262122;
width: var(--before-diameter);
height: var(--before-diameter);
top: calc(50% - var(--before-diameter)/2);
left: calc(50% - var(--before-diameter)/2);
}

.pokeball:after{
width: var(--after-diameter);
height: var(--after-diameter);

top: calc(50% - ((var(--after-diameter)/2) + var(--pokeball-border-size)));
left: calc(50% - ((var(--after-diameter)/2) + var(--pokeball-border-size)));

background: #fff;
border: double var(--pokeball-border-size) #262122;
}



.p_margin1{
    margin-top: 72vh;
    margin-left: 13rem;
}

.p_margin2{
    margin:0 47rem;
    margin-top: 16rem;
}

.p_margin3{
    margin:0 110rem;
    margin-top: 48rem;
}

.p_margin4{
    margin:0 92rem;
    margin-top: 12rem;
}

.p_margin5{
    margin:0 77rem;
    margin-top: 63rem;
}


/*Pokeball Animated*/
.pokeball-animated:hover {
animation-duration: 1s;
animation-fill-mode: both;
animation-iteration-count: infinite;
animation-name: shake;
}

@keyframes shake {
from{
    transform:none;
}

20%{
    transform:translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
}

40%{
    transform:translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
}
50%{
    transform:translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -1deg);
}
60%{
    transform:translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
}
to{
    transform:none;
}
}

